.item2{
    display: flex;
    /* position: absolute; */
    height: 30vh;
    width: 50vw;
    min-width: 300px;
}
img.headshot{
  width: auto;
  height: 100%;
  display: inline-block;
  filter: grayscale(50%);
}
.typewriter{
    font-size: 20px;
}
.firstline{
    float:left;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
        typing 3s steps(18, end),
        blink-caret .75s step-end infinite;
}

  /* typing effect  */
  @keyframes typing {
    0% { width: 0; opacity:0; }
    1% {width: 0; opacity: 1;}
    100% { width: 18ch; opacity: 1; }
  }
 /* cursor */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(212, 212, 212); }
  }