.item4{
    display: flex;
    font-size: 36px;
    font-family: Averia Serif Libre;
    margin: 0;
    grid-auto-flow: column;
    border-top-right-radius: 30%;
    border-style: solid none none solid;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0);
    border-width: 10px;
    z-index: 3;
  }
  
.item4 h1{
    position: sticky;
}




