/* global styling */
body{
  margin: 0px;  
  background: black
/* z-index: 2; */
}
/* end global styling */

/* Title page styling */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
  filter: opacity(55%);
}

.title-page {
  position: sticky;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  z-index: 1;
}

#title-name{
  font-family: Averia Serif Libre;
  font-size: 10em;
  padding-left: .1em;
}
#title-sub-name{
  font-family: Averia Serif Libre;
  font-size: 3em;
  padding-left: 2em;
}
/* end title page styling */



section{
  padding: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  position: sticky;
  background-color: black;
  color: white;
  z-index: 1;
}