body {
  background-color: #afa99d;
  color: #38352e;
  font-family:monospace;
  margin: 8% 15%;
}

li {
  margin-top: 10px;
}

.grid-header {
  display: grid; 
  grid-template-columns: 325px 100px;
}

.name {
  font-size: 50px;
  color: #333333;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif; 
  border-bottom: 1px solid #38352e;
  background-color: rgba(0,0,0,.1);
  padding-left:10px;
}

.grid-animation {
  margin-right: 50px;
  border-right: 1px solid #38352e;
  border-bottom: 1px solid #38352e;
  background-color: rgba(0,0,0,.1);  
}

.square {
  margin-top: 15px;
  width: 25px;
  animation: rotation 3s;
  animation-iteration-count: infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1790deg);
  }
}


summary {
  background-color: #afa99d;
  color: #38352e;
  font-size: 20px;
  font-family:monospace;
  padding: 10px;
}

.exp-header {
  text-align: center;
  text-transform:uppercase;
  font-family:monospace;
  font-size: 20px;
  border-top: 1px solid #38352e;
  border-bottom: 1px solid #38352e; 
  background-color:rgba(0,0,0,.1)
}

.exp-nuaire-header {
  padding-left: 10px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, Sans-serif;
  border-bottom: dashed;

}

.grid-exp-nuaire-text {
  display: grid;
  grid-template-columns: auto auto;
  padding-left: 5px;
  font-size: 15px;
  font-family: monospace;
}

.incubator-pic {
  display: block;
  width: 100%;
  opacity: .85;
  margin: 10px;
  filter: drop-shadow(7px 7px 9px #38352e);
}



.inc-pic-area {
  position: relative;
  width: 100%;
}

.inc-image-overlay {
  position: absolute;
  bottom: 0;
  left: 7%;
  right: 0;
  background-color: rgba(0,0,0,.6);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.inc-pic-area:hover .inc-image-overlay {
  width: 100%;
}

.inc-overlay-text {
  white-space: wrap; 
  color: white;
  font-size: 17px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
}



.exp-starbucks-header {
  padding-left: 10px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, Sans-serif;
  border-bottom: dashed;
}

.grid-exp-starbucks-text {
  display: grid;
  grid-template-columns: auto auto;
  padding-left: 5px;
  font-size: 15px;
  font-family: monospace;
}

.starbucks-pic {
  width: 100%;
  margin: 10px;
  filter: drop-shadow(7px 7px 9px #38352e);
  opacity: .85;
}

.exp-army-header {
  padding-left: 10px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, Sans-serif;
  border-bottom: dashed;
}

.grid-exp-army-text {
  display: grid;
  grid-template-columns: auto auto;
  padding-left: 5px;
  font-size: 15px;
  font-family: monospace;
}

.army-pic {
  width: 100%;
  margin: 10px;
  opacity: .85;
  filter: drop-shadow(7px 7px 9px #38352e);
}
