/* global styling */
body{
  margin: 0px;  
  background: black
/* z-index: 2; */
}
/* end global styling */

/* Title page styling */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  filter: opacity(55%);
}

.title-page {
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  z-index: 1;
  margin-left: 20%;
  text-align: left;
}

#title-name{
  font-family: Averia Serif Libre;
  font-size: 10em;
  padding-left: .1em;
}

#title-sub-name{
  font-family: Averia Serif Libre;
  font-size: 3em;
}
/* end title page styling */

.grid-container{
  display: grid;
  grid-template-areas:
    'about about about picture picture picture'
    'about about about tech tech tech'
    'project project project project project project';
  gap: 10px;
  /* grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr; */
}

.item1 { grid-area: about; }
.item2 { grid-area: picture; }
.item3 { grid-area: tech; }
.item4 { grid-area: project; }

/* global section style */
section{
  padding: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  position: sticky;
  background-color: black;
  color: white;
  z-index: 3;
  border-color: rgba(240, 255, 255, 0.421);
  margin-left: 10%;
}
/* end global section styling */

/* specific section styling */
.item1{
  border-bottom-right-radius: 30%;
  border-style: none none solid solid;
  box-shadow: 0px -12px 20px 0px rgb(0 0 0);
  border-width: 10px;
  z-index: 3;
}

/* .item2{

} */

.item3{
  /* tech */
}

.item4{
  border-top-right-radius: 30%;
  border-style: solid none none solid;
  box-shadow: 0px 12px 20px 0px rgb(0 0 0);
  border-width: 10px;
  z-index: 3;
}
/* end specific section styling */


/*  icon bar */
.icon-bar {
  width: 90px;
  background-color: rgba(48, 48, 48, 0.85);
  box-shadow: 0px 0px 20px 20px black;
  position: fixed;
  z-index: 5;
  bottom: 15%;
  margin-left: 1%;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: rgb(33, 33, 33);
  font-size: 36px;
  box-shadow: inset 0px 0px 20px 0px #a78080;
}

.icon-bar a:hover {
  background-color: rgb(26, 26, 26);
}

.active {
  background-color: rgba(137, 0, 0, 0.85) ;
}
/*  end icon bar */